USE [master]
GO
/****** Object:  Database [QLNhanSu]    Script Date: 06/11/2023 10:05:15 CH ******/
CREATE DATABASE [QLNhanSu]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLNhanSu', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QLNhanSu.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLNhanSu_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QLNhanSu_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLNhanSu].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLNhanSu]
GO
/****** Object:  Table [dbo].[DU_AN]    Script Date: 06/11/2023 10:05:16 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DU_AN](
	[DA_ma] [char](10) NOT NULL,
	[DA_ten] [nvarchar](50) NULL,
	[DA_ngayDuKienBatDau] [date] NULL,
	[DA_ngayBatDau] [date] NOT NULL,
	[DA_ngayDuKienKetThuc] [date] NULL,
	[DA_ngayKetThuc] [date] NULL,
	[DA_ghiChu] [nvarchar](max) NULL,
 CONSTRAINT [PK_DU_AN_1] PRIMARY KEY CLUSTERED 
(
	[DA_ma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHAN_VIEN]    Script Date: 06/11/2023 10:05:16 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAN_VIEN](
	[NV_ma] [char](10) NOT NULL,
	[NV_ten] [nvarchar](50) NULL,
	[NV_bangCap] [nvarchar](50) NULL,
	[NV_namSinh] [char](4) NULL,
	[NV_diaChi] [nvarchar](50) NULL,
	[NV_chucVu] [nvarchar](30) NULL,
 CONSTRAINT [PK_NHAN_VIEN] PRIMARY KEY CLUSTERED 
(
	[NV_ma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QLDuAn]    Script Date: 06/11/2023 10:05:16 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QLDuAn](
	[DA_ma] [char](10) NOT NULL,
	[NV_ma] [char](10) NOT NULL,
	[ngayBatDau] [date] NOT NULL,
	[ngayKetThuc] [date] NOT NULL,
	[nhiemVu] [nvarchar](50) NULL,
	[danhGia] [nvarchar](max) NULL,
 CONSTRAINT [PK_QLDuAn] PRIMARY KEY CLUSTERED 
(
	[DA_ma] ASC,
	[NV_ma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[DU_AN] ([DA_ma], [DA_ten], [DA_ngayDuKienBatDau], [DA_ngayBatDau], [DA_ngayDuKienKetThuc], [DA_ngayKetThuc], [DA_ghiChu]) VALUES (N'A01       ', N'He Thong Bao Mat X', CAST(N'2023-01-12' AS Date), CAST(N'2023-01-15' AS Date), CAST(N'2023-08-12' AS Date), CAST(N'2023-08-10' AS Date), NULL)
INSERT [dbo].[DU_AN] ([DA_ma], [DA_ten], [DA_ngayDuKienBatDau], [DA_ngayBatDau], [DA_ngayDuKienKetThuc], [DA_ngayKetThuc], [DA_ghiChu]) VALUES (N'B01       ', N'Bao Tri X', CAST(N'2025-02-08' AS Date), CAST(N'2025-02-09' AS Date), CAST(N'2025-12-25' AS Date), CAST(N'2025-12-26' AS Date), NULL)
INSERT [dbo].[DU_AN] ([DA_ma], [DA_ten], [DA_ngayDuKienBatDau], [DA_ngayBatDau], [DA_ngayDuKienKetThuc], [DA_ngayKetThuc], [DA_ghiChu]) VALUES (N'CS01      ', N'Phat Trien Phan Mem Y', CAST(N'2024-01-05' AS Date), CAST(N'2024-01-05' AS Date), CAST(N'2025-01-03' AS Date), CAST(N'2025-01-10' AS Date), NULL)
GO
INSERT [dbo].[NHAN_VIEN] ([NV_ma], [NV_ten], [NV_bangCap], [NV_namSinh], [NV_diaChi], [NV_chucVu]) VALUES (N'04018     ', N'Le Gia Huy', NULL, N'2004', NULL, N'Truong Nhom')
INSERT [dbo].[NHAN_VIEN] ([NV_ma], [NV_ten], [NV_bangCap], [NV_namSinh], [NV_diaChi], [NV_chucVu]) VALUES (N'21002     ', N'Vo Phuc Nhien', NULL, N'2021', NULL, N'Nhan Vien')
INSERT [dbo].[NHAN_VIEN] ([NV_ma], [NV_ten], [NV_bangCap], [NV_namSinh], [NV_diaChi], [NV_chucVu]) VALUES (N'98001     ', N'Luong The', NULL, N'1998', NULL, N'Truong Nhom')
GO
INSERT [dbo].[QLDuAn] ([DA_ma], [NV_ma], [ngayBatDau], [ngayKetThuc], [nhiemVu], [danhGia]) VALUES (N'B01       ', N'21002     ', CAST(N'2025-02-09' AS Date), CAST(N'2025-12-26' AS Date), N'Bao Tri', NULL)
INSERT [dbo].[QLDuAn] ([DA_ma], [NV_ma], [ngayBatDau], [ngayKetThuc], [nhiemVu], [danhGia]) VALUES (N'CS01      ', N'04018     ', CAST(N'2024-01-05' AS Date), CAST(N'2024-12-12' AS Date), N'Phat Trien Chuc Nang Dang Nhap', N'Hoan Thanh Xuat Sac')
INSERT [dbo].[QLDuAn] ([DA_ma], [NV_ma], [ngayBatDau], [ngayKetThuc], [nhiemVu], [danhGia]) VALUES (N'CS01      ', N'21002     ', CAST(N'2024-01-05' AS Date), CAST(N'2024-05-06' AS Date), N'Phat Trien Dang Nhap', N'Hoan Thanh Tot')
GO
ALTER TABLE [dbo].[QLDuAn]  WITH CHECK ADD  CONSTRAINT [FK_QLDuAn_DU_AN] FOREIGN KEY([DA_ma])
REFERENCES [dbo].[DU_AN] ([DA_ma])
GO
ALTER TABLE [dbo].[QLDuAn] CHECK CONSTRAINT [FK_QLDuAn_DU_AN]
GO
ALTER TABLE [dbo].[QLDuAn]  WITH CHECK ADD  CONSTRAINT [FK_QLDuAn_NHAN_VIEN] FOREIGN KEY([NV_ma])
REFERENCES [dbo].[NHAN_VIEN] ([NV_ma])
GO
ALTER TABLE [dbo].[QLDuAn] CHECK CONSTRAINT [FK_QLDuAn_NHAN_VIEN]
GO
USE [master]
GO
