USE [master]
GO
/****** Object:  Database [QLThuePhong]    Script Date: 06/11/2023 10:01:55 CH ******/
CREATE DATABASE [QLThuePhong]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLThuePhong', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QLThuePhong.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLThuePhong_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QLThuePhong_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLThuePhong].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLThuePhong]
GO
/****** Object:  Table [dbo].[KHACH_HANG]    Script Date: 06/11/2023 10:01:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACH_HANG](
	[maKH] [int] IDENTITY(1,1) NOT NULL,
	[tenKH] [nvarchar](50) NOT NULL,
	[diaChi] [nvarchar](100) NULL,
	[SDT] [nvarchar](12) NOT NULL,
	[ghiChu] [nvarchar](max) NULL,
 CONSTRAINT [PK_KHACH_HANG] PRIMARY KEY CLUSTERED 
(
	[maKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHONG]    Script Date: 06/11/2023 10:01:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONG](
	[maPhong] [char](10) NOT NULL,
	[soGiuong] [numeric](18, 0) NOT NULL,
	[hoTenNV] [nvarchar](50) NOT NULL,
	[giaTien] [decimal](8, 2) NULL,
	[ghiChu] [nvarchar](max) NULL,
 CONSTRAINT [PK_PHONG] PRIMARY KEY CLUSTERED 
(
	[maPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THUE_PHONG]    Script Date: 06/11/2023 10:01:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THUE_PHONG](
	[maKH] [int] IDENTITY(1,1) NOT NULL,
	[maPhong] [char](10) NOT NULL,
	[ngayNhanPhong] [date] NOT NULL,
	[ngayTraPhong] [date] NULL,
	[soTienDaTra] [decimal](8, 2) NULL,
	[ghiChu] [nvarchar](max) NULL,
 CONSTRAINT [PK_THUE_PHONG] PRIMARY KEY CLUSTERED 
(
	[maKH] ASC,
	[maPhong] ASC,
	[ngayNhanPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[KHACH_HANG] ON 

INSERT [dbo].[KHACH_HANG] ([maKH], [tenKH], [diaChi], [SDT], [ghiChu]) VALUES (1, N'Le Gia Huy', NULL, N'0899308755', NULL)
INSERT [dbo].[KHACH_HANG] ([maKH], [tenKH], [diaChi], [SDT], [ghiChu]) VALUES (2, N'Luong The', NULL, N'0899344755', NULL)
INSERT [dbo].[KHACH_HANG] ([maKH], [tenKH], [diaChi], [SDT], [ghiChu]) VALUES (3, N'Vo Phuc Nhien', NULL, N'0909344655', NULL)
SET IDENTITY_INSERT [dbo].[KHACH_HANG] OFF
GO
INSERT [dbo].[PHONG] ([maPhong], [soGiuong], [hoTenNV], [giaTien], [ghiChu]) VALUES (N'A01       ', CAST(1 AS Numeric(18, 0)), N'Luong Tan', CAST(100000.00 AS Decimal(8, 2)), NULL)
INSERT [dbo].[PHONG] ([maPhong], [soGiuong], [hoTenNV], [giaTien], [ghiChu]) VALUES (N'B01       ', CAST(2 AS Numeric(18, 0)), N'Tran Ngao', CAST(180000.00 AS Decimal(8, 2)), NULL)
INSERT [dbo].[PHONG] ([maPhong], [soGiuong], [hoTenNV], [giaTien], [ghiChu]) VALUES (N'C02       ', CAST(2 AS Numeric(18, 0)), N'Ta Phuc', CAST(250000.00 AS Decimal(8, 2)), NULL)
GO
SET IDENTITY_INSERT [dbo].[THUE_PHONG] ON 

INSERT [dbo].[THUE_PHONG] ([maKH], [maPhong], [ngayNhanPhong], [ngayTraPhong], [soTienDaTra], [ghiChu]) VALUES (1, N'A01       ', CAST(N'2023-11-06' AS Date), CAST(N'2023-06-18' AS Date), CAST(100000.00 AS Decimal(8, 2)), NULL)
INSERT [dbo].[THUE_PHONG] ([maKH], [maPhong], [ngayNhanPhong], [ngayTraPhong], [soTienDaTra], [ghiChu]) VALUES (2, N'B01       ', CAST(N'2023-12-03' AS Date), NULL, CAST(180000.00 AS Decimal(8, 2)), NULL)
INSERT [dbo].[THUE_PHONG] ([maKH], [maPhong], [ngayNhanPhong], [ngayTraPhong], [soTienDaTra], [ghiChu]) VALUES (3, N'C02       ', CAST(N'2023-12-05' AS Date), NULL, CAST(250000.00 AS Decimal(8, 2)), NULL)
SET IDENTITY_INSERT [dbo].[THUE_PHONG] OFF
GO
ALTER TABLE [dbo].[THUE_PHONG]  WITH CHECK ADD  CONSTRAINT [FK_THUE_PHONG_KHACH_HANG] FOREIGN KEY([maKH])
REFERENCES [dbo].[KHACH_HANG] ([maKH])
GO
ALTER TABLE [dbo].[THUE_PHONG] CHECK CONSTRAINT [FK_THUE_PHONG_KHACH_HANG]
GO
ALTER TABLE [dbo].[THUE_PHONG]  WITH CHECK ADD  CONSTRAINT [FK_THUE_PHONG_PHONG] FOREIGN KEY([maPhong])
REFERENCES [dbo].[PHONG] ([maPhong])
GO
ALTER TABLE [dbo].[THUE_PHONG] CHECK CONSTRAINT [FK_THUE_PHONG_PHONG]
GO
USE [master]
GO
