USE [master]
GO
/****** Object:  Database [QLThueSach]    Script Date: 06/11/2023 10:00:15 CH ******/
CREATE DATABASE [QLThueSach]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLThueSach', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QLThueSach.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLThueSach_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QLThueSach_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLThueSach].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLThueSach]
GO
/****** Object:  Table [dbo].[BANG]    Script Date: 06/11/2023 10:00:15 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANG](
	[maBang] [char](10) NOT NULL,
	[tenBang] [nvarchar](50) NOT NULL,
	[theLoai] [nvarchar](20) NULL,
	[nuocSanXuat] [nvarchar](20) NULL,
	[giaMua] [decimal](8, 2) NOT NULL,
	[ghiChu] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[maBang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACH_HANG]    Script Date: 06/11/2023 10:00:15 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACH_HANG](
	[maKH] [int] IDENTITY(1,1) NOT NULL,
	[tenKH] [nvarchar](50) NOT NULL,
	[diaChi] [nvarchar](100) NULL,
	[SDT] [nvarchar](12) NOT NULL,
	[loaiSachYeuThich] [nvarchar](100) NULL,
	[ghiChu] [nvarchar](max) NULL,
 CONSTRAINT [PK_KHACH_HANG] PRIMARY KEY CLUSTERED 
(
	[maKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SACH]    Script Date: 06/11/2023 10:00:15 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SACH](
	[maSach] [char](10) NOT NULL,
	[tenSach] [nvarchar](50) NOT NULL,
	[tacGia] [nvarchar](50) NULL,
	[NXB] [nvarchar](50) NULL,
	[giaMua] [decimal](8, 2) NOT NULL,
	[ghiChu] [nvarchar](max) NULL,
 CONSTRAINT [PK_SACH] PRIMARY KEY CLUSTERED 
(
	[maSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THUE_SACH]    Script Date: 06/11/2023 10:00:15 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THUE_SACH](
	[maKH] [int] IDENTITY(1,1) NOT NULL,
	[maSach] [char](10) NOT NULL,
	[ngayMuonSach] [date] NOT NULL,
	[ngayTraSach] [date] NULL,
	[soTienThu] [decimal](8, 2) NULL,
	[ghiChu] [nvarchar](max) NULL,
 CONSTRAINT [PK_THUE_SACH] PRIMARY KEY CLUSTERED 
(
	[maKH] ASC,
	[maSach] ASC,
	[ngayMuonSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[KHACH_HANG] ON 

INSERT [dbo].[KHACH_HANG] ([maKH], [tenKH], [diaChi], [SDT], [loaiSachYeuThich], [ghiChu]) VALUES (1, N'Le Gia Huy', NULL, N'0899308755', N'Giet Con Chim Nhai', NULL)
INSERT [dbo].[KHACH_HANG] ([maKH], [tenKH], [diaChi], [SDT], [loaiSachYeuThich], [ghiChu]) VALUES (2, N'Luong The', NULL, N'0899344655', N'Dark Matter', NULL)
INSERT [dbo].[KHACH_HANG] ([maKH], [tenKH], [diaChi], [SDT], [loaiSachYeuThich], [ghiChu]) VALUES (3, N'Vo Phuc', NULL, N'0909644855', NULL, NULL)
SET IDENTITY_INSERT [dbo].[KHACH_HANG] OFF
GO
INSERT [dbo].[SACH] ([maSach], [tenSach], [tacGia], [NXB], [giaMua], [ghiChu]) VALUES (N'A001      ', N'Giet Con Chim Nhai', NULL, N'Kim Dong', CAST(145000.00 AS Decimal(8, 2)), NULL)
INSERT [dbo].[SACH] ([maSach], [tenSach], [tacGia], [NXB], [giaMua], [ghiChu]) VALUES (N'B002      ', N'Dark Matter', NULL, N'Kim Dong', CAST(155000.00 AS Decimal(8, 2)), NULL)
INSERT [dbo].[SACH] ([maSach], [tenSach], [tacGia], [NXB], [giaMua], [ghiChu]) VALUES (N'C003      ', N'Cay Cam Nho Cua Toi', NULL, N'Kim Dong', CAST(100000.00 AS Decimal(8, 2)), NULL)
GO
SET IDENTITY_INSERT [dbo].[THUE_SACH] ON 

INSERT [dbo].[THUE_SACH] ([maKH], [maSach], [ngayMuonSach], [ngayTraSach], [soTienThu], [ghiChu]) VALUES (1, N'A001      ', CAST(N'2023-01-03' AS Date), NULL, CAST(145000.00 AS Decimal(8, 2)), NULL)
INSERT [dbo].[THUE_SACH] ([maKH], [maSach], [ngayMuonSach], [ngayTraSach], [soTienThu], [ghiChu]) VALUES (2, N'B002      ', CAST(N'2023-05-04' AS Date), CAST(N'2023-06-06' AS Date), CAST(155000.00 AS Decimal(8, 2)), NULL)
INSERT [dbo].[THUE_SACH] ([maKH], [maSach], [ngayMuonSach], [ngayTraSach], [soTienThu], [ghiChu]) VALUES (3, N'C003      ', CAST(N'2023-11-12' AS Date), NULL, CAST(100000.00 AS Decimal(8, 2)), NULL)
SET IDENTITY_INSERT [dbo].[THUE_SACH] OFF
GO
ALTER TABLE [dbo].[THUE_SACH]  WITH CHECK ADD  CONSTRAINT [FK_THUE_SACH_KHACH_HANG] FOREIGN KEY([maKH])
REFERENCES [dbo].[KHACH_HANG] ([maKH])
GO
ALTER TABLE [dbo].[THUE_SACH] CHECK CONSTRAINT [FK_THUE_SACH_KHACH_HANG]
GO
ALTER TABLE [dbo].[THUE_SACH]  WITH CHECK ADD  CONSTRAINT [FK_THUE_SACH_SACH] FOREIGN KEY([maSach])
REFERENCES [dbo].[SACH] ([maSach])
GO
ALTER TABLE [dbo].[THUE_SACH] CHECK CONSTRAINT [FK_THUE_SACH_SACH]
GO
USE [master]
GO
